@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Noto+Serif:ital,wght@1,100&family=Oswald&family=Pixelify+Sans&display=swap');
 

/* Universal, html and body selectors */
* {
    background-color: rgb(31, 26, 26);
    color: #777;
    font-family: 'Noto Serif', serif;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
}
/* ----------------------------------------------- */

/* Nav bar selectors */
header {
    position: sticky;
    top: 0;
}

.nav ul {
    margin: 0px;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    text-decoration: none;
    padding: .3em;
    margin: .5em;
}

.nav a:hover{
    background-color: rgb(38, 37, 37);
}

.nav {
    text-align: center;
    font-size: 1.1em;
}

.nav ul {
    border-bottom: solid #777;
    border-radius: 20%;

}

.nav li {
    padding: 0 2.5%;

}

#contact-btn:hover {
    cursor: pointer;
}

/* -------------------------------------- */

/* H1,2,3 (title) selectors */
.title {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    font-size: 2em;

}

.name-main {
    text-align: center;
    padding: 1em auto;
    margin: 0;
    font-size: 3em;
}
/* --------------------------------------- */

/* hero/div picture index html  */
.hero-div {
margin: 0;
}

.hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
/* ----------------------------------------- */

/* Professional summary container */
.pro-summary-container {
    text-align: center;
    padding: 0 25% 0 25%;
}

/* ----------------------------------------- */

/* About me container */
.container {
    margin: 0 auto;
    max-width: 1300px;
}

.container-section h2 {
 text-align: center;
 padding-right: 16em;
}

.container-section {
    margin: 1em auto 3em 4em;
    flex-wrap: wrap;
}

/* ------------------------------------- */

/* Self portrait image */
.self-img {
    float: left;
    border-radius: 100px;
    margin: 20px 30px 15px 0;
}

/* ------------------------------------ */

/* Footer container  */
footer {
    border-top: solid #777;
    width: 100%;
}

.footer-nav {
    margin: 0;
    border-radius: 20%;
    padding: 0;
}

.footer-nav ul {
    width: fit-content;
}

.footer-nav h3 {
    font-size: 1.5em;
    width: fit-content;
}


.footer-nav-container {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.footer-btn:hover {
    background-color: rgb(38, 37, 37);
}

/* ----------------------------------------- */

